*{
    margin: 0%;
padding: 0%;
font-family: 'Pangolin', cursive;
}

body{
    background-image: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    
transition: .5s;
background-size: 200%;
}



#formpage{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin-top: 53px;
    padding: 33px;
    width: 65%;
    height: 60%;
}

.regiinput{
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 10px;
    margin-top: 20px;
    
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

#pcb{
    margin-left: -1px;
    margin-right: 0px;
    width: 75%;
}



.btn{
    font-size: 15px;
margin: 8px;
padding: 6px;
width: 64%;
background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
transition: .5s;
outline: none;
border: none;
border-radius: 10px;
color: white;
cursor: pointer;

}

.info{
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}